
// App.scss

$primary-color: #333;
$secondary-color: #666;
$white: #fff;
$black : #000;
$light-gray: #f1f1f1;

// Typography
$primary-font : Arial, sans-serif;
$font-size-base : 16px;
$line-height-base: 1.3;