
@use 'sass:math';
@use 'variables' as *;
.primary-text {
    color: $primary-color;
  }
  
  .heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .body-text {
    font-size: $font-size-base;
    line-height: $line-height-base;
  }
  .text-center {
    text-align: center;
  }